<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExpressiveTouchStudy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ExpressiveTouchStudy.Properties.Settings>
            <setting name="InteractionTechniques" serializeAs="String">
                <value>ImpactForce:Hard,Normal,Soft;VelocityTouchUp:Fast,Normal,Slow;DirectionOfApproach:Above,Below,Left,Right;FingerAngle:High,Normal,Flat;TwistingTouch:Default;QuiveringFinger:Default;</value>
            </setting>
            <setting name="TrialsPerCondition" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="InteractionTechniques_Debug" serializeAs="String">
                <value>TwistingTouch:Default;</value>
            </setting>
        </ExpressiveTouchStudy.Properties.Settings>
    </userSettings>
</configuration>